.modalPost-content {
    padding: 2vw;
    z-index: 11;
    margin: auto;
    background-color: #fefefe;
    width: 30vw;

    border: 0;
    min-width: 13rem;
    min-height: 20rem;
    position: relative;
    background-color: white;
    border-radius: 5px;
    animation: heart-progress 500ms ease-in-out forwards;
}

.modalPost {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;


    margin-top: 5vw;
    width: 90vw;
    background-color: aqua;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(78, 81, 102, 0.95);
}

.postImages {
    visibility: hidden;
}


@keyframes heart-progress {
    0% {
        transform: scaley(1);
        opacity: .1;
    }

    25% {

        opacity: .2;
    }

    50% {
        opacity: .4;
        transform: scale(1.05);
    }

    75% {
        transform: scale(1.05);
        opacity: .5;
    }

    90% {
        transform: scaley(1.05);
        opacity: .6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.btn-close-post {
    position: absolute;
    width: 10px;
    font-weight: 900;
    background: none;
    z-index: 6;
    color: #4E5166;
    font-size: 1.5rem;
    margin-right: 1vw;
    top: 0;
    right: 0.5vw;
}

.btn-signin {
    background-color: #888;
}


@media screen and (max-width: 992px) {

    .modalPost-content input,
    .modalPost-content textarea {
        width: 77vw;


    }

    .modalPost-content {

        width: 80vw;
    }

    .imgUpdate {
        max-height: 60vw;
        max-width: 60vw;


    }

    .btn-close-post {
        right: 2.5vw;
    }


}

.img-preview-wrapper {
    width: 30vw;
    height: 20vw;
}

.imgPreview {
    width: 30vw;
    height: 20vw;
    overflow: hidden;
}