.btnNav {
    font-size: 1.5vw;
    width: 14vw;
    color: #4E5166;
    background-color: white;
    cursor: pointer;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
}


button:hover {
    transform: scale(1.1);
}



.navBar {

    z-index: 9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    width: 98vw;

}

ul {
    display: flex;
    padding: 0;


}

li {
    list-style: none;
}

.imgLogo {
    width: 30vw;

    margin: 2vw 0 0 2vw;


}

@media only screen and (max-width: 992px) {
    .btnNav {
        width: 20vw;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .navBar {
        flex-direction: column;
    }

    .imgLogo {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navBar nav {


        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .btnNav {
        display: block;
        width: 40vw;
    }


}